<?xml version='1.0' encoding='utf-8'?>

<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-tts-notification"
  version="0.3.0">
  <name>TTSNotification</name>
  <description>Cordova Text-to-Speech Notification Plugin</description>
  <author>FRANCIS KNARFY ELOPRE</author>
  <license>MIT</license>
  <keywords>cordova,tts,text-to-speech,notification,local-notifications</keywords>
  <repo>https://github.com/kn4rfy/cordova-plugin-tts-notification.git</repo>
  <issue>https://github.com/kn4rfy/cordova-plugin-tts-notification/issues</issue>

  <js-module src="www/ttsnotification.js" name="ttsnotification">
    <clobbers target="TTSNotification" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
        <array>
            <string>audio</string>
        </array>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="TTSNotification">
        <param name="ios-package" value="TTSNotification"/>
      </feature>
    </config-file>

    <header-file src="src/ios/TTSNotification.h" />
    <source-file src="src/ios/TTSNotification.m" />

    <framework src="AVFoundation.framework" />
    <framework src="AudioToolbox.framework" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.VIBRATE"/>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="TTSNotification">
        <param name="android-package" value="co.ulimit.cordova.ttsnotification.TTSNotification" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/TTSNotification.java" target-dir="src/co/ulimit/cordova/ttsnotification" />
  </platform>
</plugin>
